:root{
    --head-color:rgba(255,255,255,1);
    --menu-nav:rgba(33, 33, 33, 1);
    --logo-first:rgba(33, 150, 243, 1);
    --logo-second:rgba(0,0,0,1);
    --address:rgba(117,117,117,1);
    --button-background:rgba(47, 48, 58, 1);
    --footer-adress:rgba(255, 255, 255, 0.6);
    --second-page-button-background:rgba(245, 244, 250, 1);
    --second-page-container-bg:rgba(238, 238, 238, 1);
}

body{
    font-family: "Roboto";
    font-size: 14px;
}

.nav-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--menu-nav);
}

.contacts-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--address);
}

.section-hero{
    background-color: var(--button-background);
}

.section-hero-title{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--head-color);
}

.section-hero-btn{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--head-color);
    background-color: var(--logo-first);
}